[run]
branch = True
relative_files = True
data_file = .coverage
source=commerce_coordinator
omit =
    commerce_coordinator/settings/*
    commerce_coordinator/conf/*
    *wsgi.py
    */migrations/*
    */admin.py
    */apps.py
    */static/*
    */templates/*
    commerce_coordinator/celery.py
    commerce_coordinator/apps/core/tasks.py
