[run]
branch = True
data_file = .coverage
source=commerce_coordinator
omit =
    commerce_coordinator/settings/*
    commerce_coordinator/conf/*
    commerce_coordinator/apps/core/tests/*.py
    *wsgi.py
    */migrations/*
    */admin.py
    */static/*
    */templates/*
