version: "2.1"
services:
  datadog:
      container_name: dd-agent
      image: "gcr.io/datadoghq/agent:latest"
      environment:
        - DD_API_KEY=os.environ.get('DD_API_KEY', '')
        - DD_SITE=datadoghq.com
        - DD_APM_ENABLED=true    # Enable APM
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock:ro
        - /proc/:/host/proc/:ro
        - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
  db:
    image: edxops/mysql:5.7
    container_name: commerce-coordinator.db
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - commerce-coordinator_mysql:/var/lib/mysql

  memcache:
    image: memcached:1.5.10-alpine
    container_name: commerce-coordinator.memcache

  app:
    image: devstack # this should exist locally from previous devstack, we will build our Dockerfile
    build: .        # Build Dockerfile if we need to.
    container_name: commerce-coordinator.app
    volumes:
      - .:/edx/app/commerce-coordinator/
    command: bash -c 'while true; do python /edx/app/commerce-coordinator/manage.py runserver 0.0.0.0:8140; sleep 2; done'
    environment:
      DJANGO_SETTINGS_MODULE: commerce_coordinator.settings.devstack
      DD_AGENT_HOST: dd-agent
    ports:
      - "8140:8140"
    stdin_open: true
    tty: true
    depends_on:
      - "db"
    networks:
      - devstack_default # edX Dev Stack
      - default          # Just these containers

networks:
  default:
  devstack_default:
    external: true

volumes:
  commerce-coordinator_mysql:
