COMMERCETOOLS_FRONTEND_URL = 'http://localhost:3000/SET-ME'

_COMMERCETOOLS_CONFIG_GEO = 'us-central1.gcp'
COMMERCETOOLS_CONFIG = {
    'projectKey': 'SET-ME',
    'clientId': 'SET-ME',
    'clientSecret': 'SET-ME',
    'authUrl': f"https://auth.{_COMMERCETOOLS_CONFIG_GEO}.commercetools.com",
    'apiUrl': f"https://api.{_COMMERCETOOLS_CONFIG_GEO}.commercetools.com",
    'importUrl': f"https://import.{_COMMERCETOOLS_CONFIG_GEO}.commercetools.com",  # Required for ImpEx
    'scopes': 'SET-ME'
}
